.audio1 {
  /* 背景色を変更 */
  background-color: #5f7a61;
  /* 角丸に設定 */
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio1 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio2 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio2 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio3 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio3 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

span.theatre-text {
  margin: 55px;
}

.audio4 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio4 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

span.thames-text {
  margin: 55px;
}

.audio5 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio5 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio6 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio6 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio7 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio7 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio8 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio8 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio9 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio9 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio10 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio10 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio11 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio11 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio12 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio12 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio13 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio13 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio14 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio14 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}

.audio15 {
  background-color: #5f7a61;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 140px;
  margin: 0 auto;
  margin-top: 50px;
}

.audio15 .title {
  color: #eee;
  font-size: 15px;
  padding: 15px;
}
